[model]
model = OCR

[shape-0]
camera = {'Type': 'webcam', 'SN': '...'}
frame = {'Width': 663, 'Height': 667}
function = {'Functions': 'Crop,Convert,Binary,OCR'}
crop = {'Box': '239,169,399,108', 'QRect': '248,236,414,150'}
convert = {'Type': 'bgr2gray'}
binary = {'Threshold': '15', 'Method': 'otsu', 'Type': 'inv', 'BlockSize': '9'}
blur = {'Method': 'blur', 'Size': '3'}
morph = {'Method': 'dilate', 'Size': '3', 'Iter': '1'}
contours = {'Mode': 'external', 'Method': 'none'}
remove = {'Width': '-1,-1', 'Height': '-1,-1', 'Area': '-1,-1'}
ocr = {'Lang': 'eng', 'Oem': '1', 'Psm': '3'}
matching = {'Score': '90', 'File': '', 'Multiple': 'False'}

