[Camera]
type = webcam
sn = ...

[Crop]
box = 0,0,0,0

[Convert]
type = bgr2gray

[Binary]
thresold = 100
method = normal
type = normal

[Blur]
method = blur
size = 3

[Morph]
method = dilate
size = 3
iter = 1

[Remove]
width = -1,-1
height = -1,-1
area = -1,-1

[OCR]
lang = eng
oem = 0
psm = 0

[Matching]
score = 90

