[Camera]
type = webcam
sn = ...

[Crop]
box = 113,22,87,52

[Convert]
type = bgr2gray

[Binary]
threshold = 100
method = otsu
type = inv
blocksize = 11

[Blur]
method = blur
size = 3

[Morph]
method = dilate
size = 3
iter = 1

[Contours]
mode = external
method = simple

[Remove]
width = 20,-1
height = 20,-1
area = -1,-1

[OCR]
lang = eng
oem = 0
psm = 0

[Matching]
score = 50
file = demo/cropped.png

