[model]
model = WebCam-0

[shape-0]
camera = {'Type': 'webcam', 'SN': '...', 'QRect': '40,1,422,437'}
frame = {'Width': 663, 'Height': 667, 'QRect': '40,1,422,437'}
function = {'Functions': 'Crop,Convert,Binary,Morph,Contours,Remove', 'QRect': '40,1,422,437'}
crop = {'Box': '35,0,368,314', 'QRect': '40,1,422,437'}
convert = {'Type': 'bgr2gray', 'QRect': '40,1,422,437'}
binary = {'Threshold': '180', 'Method': 'normal', 'Type': 'normal', 'BlockSize': '11', 'QRect': '40,1,422,437'}
blur = {'Method': 'blur', 'Size': '3', 'QRect': '40,1,422,437'}
morph = {'Method': 'erode', 'Size': '3', 'Iter': '2', 'QRect': '40,1,422,437'}
contours = {'Mode': 'external', 'Method': 'none', 'QRect': '40,1,422,437'}
remove = {'Width': '30,-1', 'Height': '30,-1', 'Area': '-1,-1', 'QRect': '40,1,422,437'}
ocr = {'Lang': 'eng', 'Oem': '1', 'Psm': '3', 'QRect': '40,1,422,437'}
matching = {'Score': '90', 'File': '', 'Multiple': 'False', 'QRect': '40,1,422,437'}

[shape-1]
camera = {'Type': 'webcam', 'SN': '...', 'QRect': '490,12,183,437'}
frame = {'Width': 663, 'Height': 667, 'QRect': '490,12,183,437'}
function = {'Functions': 'Crop,Convert,Binary,Contours,Remove', 'QRect': '490,12,183,437'}
crop = {'Box': '428,8,159,314', 'QRect': '490,12,183,437'}
convert = {'Type': 'bgr2gray', 'QRect': '490,12,183,437'}
binary = {'Threshold': '50', 'Method': 'normal', 'Type': 'normal', 'BlockSize': '11', 'QRect': '490,12,183,437'}
blur = {'Method': 'blur', 'Size': '3', 'QRect': '490,12,183,437'}
morph = {'Method': 'dilate', 'Size': '3', 'Iter': '1', 'QRect': '490,12,183,437'}
contours = {'Mode': 'external', 'Method': 'none', 'QRect': '490,12,183,437'}
remove = {'Width': '15,-1', 'Height': '-1,-1', 'Area': '-1,-1', 'QRect': '490,12,183,437'}
ocr = {'Lang': 'eng', 'Oem': '1', 'Psm': '3', 'QRect': '490,12,183,437'}
matching = {'Score': '90', 'File': '', 'Multiple': 'False', 'QRect': '490,12,183,437'}

[shape-2]
camera = {'Type': 'webcam', 'SN': '...', 'QRect': '35,472,605,129'}
frame = {'Width': 663, 'Height': 667, 'QRect': '35,472,605,129'}
function = {'Functions': 'Crop,Convert,Binary,Contours,Remove', 'QRect': '35,472,605,129'}
crop = {'Box': '30,339,528,92', 'QRect': '35,472,605,129'}
convert = {'Type': 'bgr2gray', 'QRect': '35,472,605,129'}
binary = {'Threshold': '110', 'Method': 'normal', 'Type': 'normal', 'BlockSize': '11', 'QRect': '35,472,605,129'}
blur = {'Method': 'blur', 'Size': '3', 'QRect': '35,472,605,129'}
morph = {'Method': 'dilate', 'Size': '3', 'Iter': '1', 'QRect': '35,472,605,129'}
contours = {'Mode': 'external', 'Method': 'none', 'QRect': '35,472,605,129'}
remove = {'Width': '30,-1', 'Height': '-1,-1', 'Area': '-1,-1', 'QRect': '35,472,605,129'}
ocr = {'Lang': 'eng', 'Oem': '1', 'Psm': '3', 'QRect': '35,472,605,129'}
matching = {'Score': '90', 'File': '', 'Multiple': 'False', 'QRect': '35,472,605,129'}

[shape-3]
camera = {'Type': 'webcam', 'SN': '...', 'QRect': '53,154,620,476'}
frame = {'Width': 663, 'Height': 667, 'QRect': '53,154,620,476'}
function = {'Functions': 'Crop,Match', 'QRect': '53,154,620,476'}
crop = {'Box': '46,110,540,342', 'QRect': '53,154,620,476'}
convert = {'Type': 'bgr2gray', 'QRect': '53,154,620,476'}
binary = {'Threshold': '180', 'Method': 'normal', 'Type': 'normal', 'BlockSize': '11', 'QRect': '53,154,620,476'}
blur = {'Method': 'blur', 'Size': '3', 'QRect': '53,154,620,476'}
morph = {'Method': 'erode', 'Size': '3', 'Iter': '2', 'QRect': '53,154,620,476'}
contours = {'Mode': 'external', 'Method': 'none', 'QRect': '53,154,620,476'}
remove = {'Width': '30,-1', 'Height': '30,-1', 'Area': '-1,-1', 'QRect': '53,154,620,476'}
ocr = {'Lang': 'eng', 'Oem': '1', 'Psm': '3', 'QRect': '53,154,620,476'}
matching = {'Score': '85', 'File': 'demo/temp.png', 'Multiple': 'False', 'QRect': '53,154,620,476'}

[shape-4]
camera = {'Type': 'webcam', 'SN': '...', 'QRect': '15,22,574,543'}
frame = {'Width': 663, 'Height': 667, 'QRect': '15,22,574,543'}
function = {'Functions': 'Crop,Match', 'QRect': '15,22,574,543'}
crop = {'Box': '13,15,501,390', 'QRect': '15,22,574,543'}
convert = {'Type': 'bgr2gray', 'QRect': '15,22,574,543'}
binary = {'Threshold': '100', 'Method': 'normal', 'Type': 'normal', 'BlockSize': '11', 'QRect': '15,22,574,543'}
blur = {'Method': 'blur', 'Size': '3', 'QRect': '15,22,574,543'}
morph = {'Method': 'dilate', 'Size': '3', 'Iter': '1', 'QRect': '15,22,574,543'}
contours = {'Mode': 'external', 'Method': 'none', 'QRect': '15,22,574,543'}
remove = {'Width': '-1,-1', 'Height': '-1,-1', 'Area': '-1,-1', 'QRect': '15,22,574,543'}
ocr = {'Lang': 'eng', 'Oem': '1', 'Psm': '3', 'QRect': '15,22,574,543'}
matching = {'Score': '80', 'File': 'demo/hand_temp.png', 'Multiple': 'False', 'QRect': '15,22,574,543'}

