[model]
model = WebCam-0

[shape-0]
camera = {'Type': 'webcam', 'SN': '...', 'QRect': '7,59,289,376'}
frame = {'Width': 503, 'Height': 575, 'QRect': '7,59,289,376'}
function = {'Functions': 'Crop,Convert,Binary,Morph,Contours,Remove,ConvexHull', 'QRect': '7,59,289,376'}
crop = {'Box': '8,49,367,313', 'QRect': '7,59,289,376'}
convert = {'Type': 'bgr2gray', 'QRect': '7,59,289,376'}
binary = {'Threshold': '180', 'Method': 'otsu', 'Type': 'normal', 'BlockSize': '11', 'QRect': '7,59,289,376'}
blur = {'Method': 'blur', 'Size': '3', 'QRect': '7,59,289,376'}
morph = {'Method': 'erode', 'Size': '3', 'Iter': '2', 'QRect': '7,59,289,376'}
contours = {'Mode': 'external', 'Method': 'none', 'QRect': '7,59,289,376'}
remove = {'Width': '30,-1', 'Height': '30,-1', 'Area': '-1,-1', 'QRect': '7,59,289,376'}
ocr = {'Lang': 'eng', 'Oem': '1', 'Psm': '3', 'QRect': '7,59,289,376'}
matching = {'Score': '90', 'File': '', 'Multiple': 'False', 'QRect': '7,59,289,376'}
inrange = {'H': (37, 98), 'S': (211, 240), 'V': (9, 151), 'QRect': '7,59,289,376'}
decision = {'Mean': {'state': True, 'value': '10,20,30', 'threshold': '50', 'compare': 0}, 'CountNoneZero': {'state': True, 'threshold': '100', 'compare': 1}, 'Remove': {'state': True, 'threshold': '2', 'compare': 1}, 'QRect': '7,59,289,376'}

[shape-1]
camera = {'Type': 'webcam', 'SN': '...', 'QRect': '303,6,111,1062'}
frame = {'Width': 511, 'Height': 495, 'QRect': '303,6,111,1062'}
function = {'Functions': 'Crop,Convert,Binary,Contours,Remove', 'QRect': '303,6,111,1062'}
crop = {'Box': '428,6,157,313', 'QRect': '303,6,111,1062'}
convert = {'Type': 'bgr2gray', 'QRect': '303,6,111,1062'}
binary = {'Threshold': '50', 'Method': 'normal', 'Type': 'normal', 'BlockSize': '11', 'QRect': '303,6,111,1062'}
blur = {'Method': 'blur', 'Size': '3', 'QRect': '303,6,111,1062'}
morph = {'Method': 'dilate', 'Size': '3', 'Iter': '1', 'QRect': '303,6,111,1062'}
contours = {'Mode': 'external', 'Method': 'none', 'QRect': '303,6,111,1062'}
remove = {'Width': '15,-1', 'Height': '-1,-1', 'Area': '-1,-1', 'QRect': '303,6,111,1062'}
ocr = {'Lang': 'eng', 'Oem': '1', 'Psm': '3', 'QRect': '303,6,111,1062'}
matching = {'Score': '90', 'File': '', 'Multiple': 'False', 'QRect': '303,6,111,1062'}
inrange = {'H': (37, 98), 'S': (211, 240), 'V': (9, 151), 'QRect': '303,6,111,1062'}
decision = {'Mean': {'state': True, 'value': '10,20,30', 'threshold': '50', 'compare': 0}, 'CountNoneZero': {'state': True, 'threshold': '100', 'compare': 1}, 'Remove': {'state': True, 'threshold': '2', 'compare': 1}, 'QRect': '303,6,111,1062'}

[shape-2]
camera = {'Type': 'webcam', 'SN': '...', 'QRect': '20,210,438,327'}
frame = {'Width': 503, 'Height': 575, 'QRect': '20,210,438,327'}
function = {'Functions': 'Crop,InRange,Morph,Contours,Remove', 'QRect': '20,210,438,327'}
crop = {'Box': '25,175,556,272', 'QRect': '20,210,438,327'}
convert = {'Type': 'bgr2gray', 'QRect': '20,210,438,327'}
binary = {'Threshold': '110', 'Method': 'normal', 'Type': 'normal', 'BlockSize': '11', 'QRect': '20,210,438,327'}
blur = {'Method': 'blur', 'Size': '3', 'QRect': '20,210,438,327'}
morph = {'Method': 'dilate', 'Size': '3', 'Iter': '1', 'QRect': '20,210,438,327'}
contours = {'Mode': 'external', 'Method': 'none', 'QRect': '20,210,438,327'}
remove = {'Width': '100,-1', 'Height': '20,-1', 'Area': '-1,-1', 'QRect': '20,210,438,327'}
ocr = {'Lang': 'eng', 'Oem': '1', 'Psm': '3', 'QRect': '20,210,438,327'}
matching = {'Score': '90', 'File': '', 'Multiple': 'False', 'QRect': '20,210,438,327'}
inrange = {'H': (0, 184), 'S': (0, 255), 'V': (0, 14), 'QRect': '20,210,438,327'}
decision = {'Mean': {'state': True, 'value': '10,70,30', 'threshold': '50', 'compare': 0}, 'CountNoneZero': {'state': True, 'threshold': '200', 'compare': 1}, 'Remove': {'state': True, 'threshold': '2', 'compare': 0}, 'QRect': '20,210,438,327'}

[shape-3]
camera = {'Type': 'webcam', 'SN': '...'}
frame = {'Width': 503, 'Height': 575}
function = {'Functions': 'Crop,Blur,Binary'}
crop = {'Box': '36,156,556,224', 'QRect': '29,188,438,269'}
convert = {'Type': 'bgr2gray'}
binary = {'Threshold': '180', 'Method': 'otsu', 'Type': 'normal', 'BlockSize': '11'}
blur = {'Method': 'blur', 'Size': '3'}
morph = {'Method': 'erode', 'Size': '3', 'Iter': '2'}
contours = {'Mode': 'external', 'Method': 'none'}
remove = {'Width': '30,-1', 'Height': '30,-1', 'Area': '-1,-1'}
ocr = {'Lang': 'eng', 'Oem': '1', 'Psm': '3'}
matching = {'Score': '85', 'File': 'temp.png', 'Multiple': 'False'}
inrange = {'H': (37, 98), 'S': (211, 240), 'V': (9, 151)}
decision = {'Mean': {'state': False, 'value': '10,20,30', 'threshold': '50', 'compare': 0}, 'CountNoneZero': {'state': False, 'threshold': '100', 'compare': 1}, 'Remove': {'state': False, 'threshold': '2', 'compare': 0}}

[shape-4]
camera = {'Type': 'webcam', 'SN': '...', 'QRect': '7,19,491,541'}
frame = {'Width': 503, 'Height': 575, 'QRect': '7,19,491,541'}
function = {'Functions': 'Crop,Match', 'QRect': '7,19,491,541'}
crop = {'Box': '10,14,498,389', 'QRect': '7,19,491,541'}
convert = {'Type': 'bgr2gray', 'QRect': '7,19,491,541'}
binary = {'Threshold': '100', 'Method': 'normal', 'Type': 'normal', 'BlockSize': '11', 'QRect': '7,19,491,541'}
blur = {'Method': 'blur', 'Size': '3', 'QRect': '7,19,491,541'}
morph = {'Method': 'dilate', 'Size': '3', 'Iter': '1', 'QRect': '7,19,491,541'}
contours = {'Mode': 'external', 'Method': 'none', 'QRect': '7,19,491,541'}
remove = {'Width': '-1,-1', 'Height': '-1,-1', 'Area': '-1,-1', 'QRect': '7,19,491,541'}
ocr = {'Lang': 'eng', 'Oem': '1', 'Psm': '3', 'QRect': '7,19,491,541'}
matching = {'Score': '80', 'File': 'temp2.png', 'Multiple': 'False', 'QRect': '7,19,491,541'}
inrange = {'H': (37, 98), 'S': (211, 240), 'V': (9, 151), 'QRect': '7,19,491,541'}
decision = {'Mean': {'state': False, 'value': '10,20,30', 'threshold': '50', 'compare': 0}, 'CountNoneZero': {'state': False, 'threshold': '100', 'compare': 1}, 'Remove': {'state': False, 'threshold': '2', 'compare': 1}, 'QRect': '7,19,491,541'}

