[model]
model = WebCam-0

[shape-0]
camera = {'Type': 'webcam', 'SN': '...', 'QRect': '1,6,13,23'}
frame = {'Width': 1901, 'Height': 1003, 'QRect': '1,6,13,23'}
function = {'Functions': 'crop,convert,binary,findContours,removeBlobs', 'QRect': '1,6,13,23'}
crop = {'Box': '30,38,180,126', 'QRect': '1,6,13,23'}
convert = {'Type': 'bgr2gray', 'QRect': '1,6,13,23'}
binary = {'Threshold': '70', 'Method': 'otsu', 'Type': 'normal', 'BlockSize': '11', 'QRect': '1,6,13,23'}
blur = {'Method': 'blur', 'Size': '3', 'QRect': '1,6,13,23'}
morph = {'Method': 'dilate', 'Size': '3', 'Iter': '1', 'QRect': '1,6,13,23'}
contours = {'Mode': 'external', 'Method': 'none', 'QRect': '1,6,13,23'}
remove = {'Width': '-1,-1', 'Height': '-1,-1', 'Area': '-1,-1', 'QRect': '1,6,13,23'}
ocr = {'Lang': 'eng', 'Oem': '0', 'Psm': '0', 'QRect': '1,6,13,23'}
matching = {'Score': '90', 'File': '', 'Multiple': 'False', 'QRect': '1,6,13,23'}

[shape-1]
camera = {'Type': 'webcam', 'SN': '...', 'QRect': '82,419,513,180'}
frame = {'Width': 1010, 'Height': 663, 'QRect': '82,419,513,180'}
function = {'Functions': 'crop,convert', 'QRect': '82,419,513,180'}
crop = {'Box': '28,198,175,85', 'QRect': '82,419,513,180'}
convert = {'Type': 'hsv', 'QRect': '82,419,513,180'}
binary = {'Threshold': '70', 'Method': 'normal', 'Type': 'inv', 'BlockSize': '11', 'QRect': '82,419,513,180'}
blur = {'Method': 'blur', 'Size': '3', 'QRect': '82,419,513,180'}
morph = {'Method': 'dilate', 'Size': '3', 'Iter': '1', 'QRect': '82,419,513,180'}
contours = {'Mode': 'external', 'Method': 'none', 'QRect': '82,419,513,180'}
remove = {'Width': '-1,-1', 'Height': '-1,-1', 'Area': '-1,-1', 'QRect': '82,419,513,180'}
ocr = {'Lang': 'eng', 'Oem': '0', 'Psm': '0', 'QRect': '82,419,513,180'}
matching = {'Score': '90', 'File': '', 'Multiple': 'False', 'QRect': '82,419,513,180'}

[shape-2]
camera = {'Type': 'webcam', 'SN': '...', 'QRect': '91,721,1302,249'}
frame = {'Width': 1010, 'Height': 663, 'QRect': '91,721,1302,249'}
function = {'Functions': 'crop,convert,binary', 'QRect': '91,721,1302,249'}
crop = {'Box': '30,340,423,118', 'QRect': '91,721,1302,249'}
convert = {'Type': 'bgr2gray', 'QRect': '91,721,1302,249'}
binary = {'Threshold': '70', 'Method': 'otsu', 'Type': 'inv', 'BlockSize': '11', 'QRect': '91,721,1302,249'}
blur = {'Method': 'blur', 'Size': '3', 'QRect': '91,721,1302,249'}
morph = {'Method': 'dilate', 'Size': '3', 'Iter': '1', 'QRect': '91,721,1302,249'}
contours = {'Mode': 'external', 'Method': 'none', 'QRect': '91,721,1302,249'}
remove = {'Width': '-1,-1', 'Height': '-1,-1', 'Area': '-1,-1', 'QRect': '91,721,1302,249'}
ocr = {'Lang': 'eng', 'Oem': '0', 'Psm': '0', 'QRect': '91,721,1302,249'}
matching = {'Score': '90', 'File': '', 'Multiple': 'False', 'QRect': '91,721,1302,249'}

