[model]
model = SM-950

[shape-0]
camera = {'Type': 'webcam', 'SN': '...'}
frame = {'Width': 914, 'Height': 667}
function = {'Functions': 'crop,convert,matching'}
crop = {'Box': '367,184,1271,246', 'QRect': '175,114,606,153'}
convert = {'Type': 'bgr2gray'}
binary = {'Threshold': '100', 'Method': 'otsu', 'Type': 'inv', 'BlockSize': '11'}
blur = {'Method': 'blur', 'Size': '3'}
morph = {'Method': 'dilate', 'Size': '3', 'Iter': '1'}
contours = {'Mode': 'external', 'Method': 'none'}
remove = {'Width': '-1,-1', 'Height': '-1,-1', 'Area': '-1,-1'}
ocr = {'Lang': 'eng', 'Oem': '0', 'Psm': '0'}
matching = {'Score': '90', 'File': 'demo/temp.png', 'Multiple': 'True'}

[shape-1]
camera = {'Type': 'webcam', 'SN': '...', 'QRect': '215,284,494,98'}
frame = {'Width': 914, 'Height': 667, 'QRect': '215,284,494,98'}
function = {'Functions': 'crop,convert,binary', 'QRect': '215,284,494,98'}
crop = {'Box': '452,462,1035,159', 'QRect': '215,284,494,98'}
convert = {'Type': 'bgr2gray', 'QRect': '215,284,494,98'}
binary = {'Threshold': '200', 'Method': 'otsu', 'Type': 'inv', 'BlockSize': '11', 'QRect': '215,284,494,98'}
blur = {'Method': 'blur', 'Size': '3', 'QRect': '215,284,494,98'}
morph = {'Method': 'dilate', 'Size': '3', 'Iter': '1', 'QRect': '215,284,494,98'}
contours = {'Mode': 'external', 'Method': 'none', 'QRect': '215,284,494,98'}
remove = {'Width': '-1,-1', 'Height': '-1,-1', 'Area': '-1,-1', 'QRect': '215,284,494,98'}
ocr = {'Lang': 'eng', 'Oem': '0', 'Psm': '0', 'QRect': '215,284,494,98'}
matching = {'Score': '90', 'File': '', 'Multiple': 'False', 'QRect': '215,284,494,98'}

