[model]
model = SM-950

[shape-0]
camera = {'Type': 'webcam', 'SN': '...'}
frame = {'Width': 255, 'Height': 529}
function = {'functions': 'crop,convert,binary,matching'}
crop = {'Box': '243,182,1406,215', 'QRect': '32,89,187,106'}
convert = {'Type': 'bgr2gray'}
binary = {'Threshold': '100', 'Method': 'otsu', 'Type': 'inv', 'BlockSize': '11'}
blur = {'Method': 'blur', 'Size': '3'}
morph = {'Method': 'dilate', 'Size': '3', 'Iter': '1'}
contours = {'Mode': 'external', 'Method': 'none'}
remove = {'Width': '-1,-1', 'Height': '-1,-1', 'Area': '-1,-1'}
ocr = {'Lang': 'eng', 'Oem': '0', 'Psm': '0'}
matching = {'Score': '90', 'File': 'demo/temp.png', 'Multiple': 'True'}

[shape-1]
camera = {'Type': 'webcam', 'SN': '...'}
frame = {'Width': 255, 'Height': 529}
function = {'functions': 'crop,convert,binary'}
crop = {'Box': '452,462,1035,159', 'QRect': '60,226,138,78'}
convert = {'Type': 'bgr2gray'}
binary = {'Threshold': '200', 'Method': 'otsu', 'Type': 'inv', 'BlockSize': '11'}
blur = {'Method': 'blur', 'Size': '3'}
morph = {'Method': 'dilate', 'Size': '3', 'Iter': '1'}
contours = {'Mode': 'external', 'Method': 'none'}
remove = {'Width': '-1,-1', 'Height': '-1,-1', 'Area': '-1,-1'}
ocr = {'Lang': 'eng', 'Oem': '0', 'Psm': '0'}
matching = {'Score': '90', 'File': '', 'Multiple': 'False'}

