[shape-0]
camera = {'Type': 'webcam', 'SN': '...'}
frame = {'Width':'640','Height':'480'}
function = {"Functions":'crop,blur,convert,binary,findContours,removeBlobs,ocr'}
crop = {'Box': '100,100,1600,600', 'QRect': '179,120,651,145'}
convert = {'Type': 'bgr2gray'}
binary = {'Threshold': '100', 'Method': 'adaptive', 'Type': 'inv', 'BlockSize': '11'}
blur = {'Method': 'blur', 'Size': '3'}
morph = {'Method': 'dilate', 'Size': '3', 'Iter': '1'}
contours = {'Mode': 'external', 'Method': 'none'}
remove = {'Width': '10,-1', 'Height': '10,-1', 'Area': '100,-1'}
ocr = {'Lang': 'eng', 'Oem': '3', 'Psm': '3'}
matching = {'Score': '90', 'File': '', 'Multiple': 'False'}

