[shape-0]
camera = {'Type': 'webcam', 'SN': '...'}
crop = {'Box': '356,194,1295,235', 'QRect': '179,120,651,145'}
convert = {'Type': 'bgr2gray'}
binary = {'Threshold': '100', 'Method': 'otsu', 'Type': 'inv', 'BlockSize': '11'}
blur = {'Method': 'blur', 'Size': '3'}
morph = {'Method': 'dilate', 'Size': '3', 'Iter': '1'}
contours = {'Mode': 'external', 'Method': 'none'}
remove = {'Width': '-1,-1', 'Height': '-1,-1', 'Area': '-1,-1'}
ocr = {'Lang': 'eng', 'Oem': '0', 'Psm': '0'}
matching = {'Score': '90', 'File': '', 'Multiple': 'False'}

